<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="base_gazebo">

  <!-- Gazebo material for chassis -->
  <gazebo reference="chassis">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Gazebo material for casters -->
  <gazebo reference="front_caster">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="back_caster">
    <material>Gazebo/DarkGrey</material>
  </gazebo>


</robot>
