<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="base_gazebo">

  <!-- Gazebo material for chassis -->
  <gazebo reference="chassis">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Gazebo material for casters -->
  <gazebo reference="front_caster">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="back_caster">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <!-- ros2_control Gazebo plugin: bridges ros2_control to Gazebo joints -->
  <gazebo>
    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
      <parameters>$(find robot_description)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
